<div class="events-list">
  {{ range .Page.RegularPages.ByDate.Reverse }}
    <article class="event-card">
      <time class="event-date" datetime="{{ .Date.Format "2006-01-02" }}">
        <span>{{ i18n (printf "events.list.weekdays.%s" (.Date.Format "Monday")) }}</span>
        <strong>{{ .Date.Format "02" }}</strong>
        <span>{{ i18n (printf "events.list.months.%s" (.Date.Format "January")) }}</span>
      </time>
      <div class="event-content">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p>{{ .Description }}</p>
        <a class="event-link" href="{{ .RelPermalink }}">{{ i18n "events.list.link" }}</a>
      </div>
    </article>
  {{ end }}
</div>
