<div class="faq-list">
  <details>
    <summary>{{ i18n "faq.alone.question" }}</summary>
    <p>{{ i18n "faq.alone.answer" }}</p>
  </details>
  <details>
    <summary>{{ i18n "faq.level.question" }}</summary>
    <p>{{ i18n "faq.level.answer" }}</p>
  </details>
  <details>
    <summary>{{ i18n "faq.propose.question" }}</summary>
    <p>{{ i18n "faq.propose.beforeLink" }} <a href="{{ "/devenir-speaker/" | relURL }}">{{ i18n "faq.propose.link" }}</a>.</p>
  </details>
  <details>
    <summary>{{ i18n "faq.free.question" }}</summary>
    <p>{{ i18n "faq.free.answer" }}</p>
  </details>
  <details>
    <summary>{{ i18n "faq.partner.question" }}</summary>
    <p>{{ i18n "faq.partner.beforeLink" }} <a href="{{ "/partenaires/" | relURL }}">{{ i18n "faq.partner.link" }}</a>.</p>
  </details>
</div>
